/* app css stylesheet */
body {
    background: black url(/img/ball_field_background.jpg) no-repeat;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel-success {
    border-color: rgb(0,51,0);
}

.panel-success > .panel-heading {
    background-color: rgb(0,51,0);
    border-color: rgb(44, 50, 70);
}

.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: rgb(44, 50, 70);
}

.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: rgb(44, 50, 70);
}

.panel-warning {
    border-color: #f05800;
}

.panel-warning > .panel-heading {
    color: #000000;
    background-color: rgb(255, 255, 204);
    border-color: #ffcc00;
}

.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ffcc00;
}

.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ffcc00;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgb(0,51,0);
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-right: 12px;
    padding-left: 12px;
}
@media (min-width: 480px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
         padding-left: 15px;
         padding-right: 15px;
     }
}