<div class="panel panel-success">
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css"/>
    <!-- Default panel contents -->
    <div class="panel-heading">Game Schedule</div>
    <div class="panel-body">

        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
            <h4>{{alertMessage}}</h4>
        </div>
        <div class="btn-toolbar">
            <p class="pull-right lead">Calendar One View Options</p>
            <div class="btn-group">
                <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
                <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
                <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
            </div>
        </div>
        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
    </div>
</div>