<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Fundraising Information</div>
    <div class="panel-body">

        <p>Dear Business Neighbor:</p>

        <p>The West Linn High School Softball Program has a long&#8208;standing history of success on the field, in the
            classroom, and in the community.
            Hard work and long hours of practice before, during, and after the season has been the earmark of making
            this possible.
        </p>

        <p>As we are sure that you are aware of, school districts throughout the state have had to make some difficult,
            and often times painful, budget cut decisions due to the drastic decrease in Federal and State funding
            streams.
            Many of those cuts have come at the expense of athletics.
            Our school district (and West Linn High School) has not been immune to these cuts, and we have seen severe
            reductions in funds that support not only coaching staffs, but other basic items such as game balls, etc.
        </p>

        <p>With that in mind, and understanding that the economy is tight for everyone, we have come up with a plan that
            will hopefully not only address our needs, but give you an opportunity to contribute to this great tradition
            AND gain some much&#8208;deserved attention from those that frequent games and live and work throughout our community&mdash;at
            a reduced cost for the next two years. We understand that most will give simply out of support of the
            program, but we would hope to provide you with a return on your giving with positive exposure and patronage
            from our supportive community.
        </p>

        <p>Thank you in advance for your support in this worthwhile endeavor.</p>

        <p>Sincerely,<br/><EM>The West Linn High School Softball Players, Coaches, and Community</EM>
        </p>

        <div>
            <div style="margin: 10px 0 0 -10px">
                <a href="/files/SponsorLetter.pdf"><img src="http://www.weebly.com/weebly/images/file_icons/pdf.png"
                                                        width="36" height="36"
                                                        style="float: left; position: relative; left: 0px; top: 0px; margin: 0 15px 15px 0; border: 0;"/></a>

                <div style="float: left; text-align: left; position: relative;">
                    <table style="font-size: 12px; font-family: tahoma; line-height: .9;">
                        <tr>
                            <td colspan="2"><b> SponsorLetter.pdf</b></td>
                        </tr>
                        <tr style="display: none;">
                            <td>File Size:</td>
                            <td>143 kb</td>
                        </tr>
                        <tr style="display: none;">
                            <td>File Type:</td>
                            <td> pdf</td>
                        </tr>
                    </table>
                    <a href="/files/SponsorLetter.pdf" style="font-weight: bold;">Download File</a></div>
            </div>
        </div>
    </div>
</div>