<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">West Linn Softball</div>
    <div class="panel-body"  ng-repeat="post in posts | orderBy:-post.Date">
        <div class="panel panel-warning panel-collapse">
            <div class="panel-heading">{{post.Title}}
                <span class = "pull-right">{{post.Date}}</span></div>
            <div class="panel-body">
                {{post.Content}}
            </div>
        </div>
    </div>
</div>
