<table class="table table-striped table-condensed table-bordered table-hover" data-ng-controller="RosterController">
    <thead>
    <tr><th ng-click="changeSorting('Number')">#</th>
        <th ng-click="changeSorting('LastName')" >Name</th>
        <th class ="hidden-xs hidden-sm">Position</th>
        <th ng-click="changeSorting('year')" >Year</th>
    </tr>
    </thead>
    <tbody ng-repeat="player in roster | orderBy:sort.column:sort.descending">
    <tr>
        <td>{{ player.Number }}</td>
        <td>{{ player.FirstName }} {{ player.LastName }}</td>
        <td class ="hidden-xs hidden-sm">{{ player.position }}</td>
        <td>{{ player.year }}</td>
    </tr>
    </tbody>
</table>