<table class="table table-striped table-condensed table-bordered table-hover" data-ng-controller="GameController">
    <thead>
    <tr>
        <th ng-click="changeSorting('date')" >Date</th>
        <th class ="hidden-xs hidden-sm">Day</th>
        <th ng-click="changeSorting('opponent')" >Opponent</th>
        <th ng-click="changeSorting('location')" class ="hidden-xs hidden-sm">Location</th>
        <th class ="hidden-xs">Time</th>
        <th class ="hidden-xs hidden-sm">Result</th>
        <th class ="hidden-xs hidden-sm">Score</th>
    </tr>
    </thead>
    <tbody ng-repeat="game in games | orderBy:sort.column:sort.descending">
    <tr>
        <td>{{ toDate(game.date) | date:'mediumDate'}}</td>
        <td class ="hidden-xs hidden-sm">{{ toDate(game.date) | date:'EEE'}}</td>
        <td><span data-ng-show="game.isLeague == 1" class="label label-success pull-right">League</span>
            <span data-ng-show="game.comment != null" class="label label-warning pull-right">{{game.comment}}</span>
            {{ game.opponent }}</td>
        <td class ="hidden-xs hidden-sm">{{ game.location }}
            </td>
        <td class ="hidden-xs">{{ toDate(game.date) | date:'shortTime'}}</td>
        <td class ="hidden-xs hidden-sm">{{ game.location }}
        </td>
        <td class ="hidden-xs hidden-sm">{{ game.location }}
        </td>
    </tr>
    </tbody>
</table>