<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">{{team.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class = "col-lg-4 col-xs-6">
                <span class="list-group"  data-ng-repeat="coach in team.coaches">
                    <div class="list-group-item">
                        {{coach.Title}}: {{coach.FirstName}} {{coach.LastName}}
                    </div>
                </span>
            </div>
            <div class = "col-lg-4 hidden-xs">
                Wins: {{team.wins}}
            </div>
            <div class = "col-lg-4 hidden-xs">
                Losses: {{team.losses}}
            </div>
        </div><br />
        <div class="row">
            <tabset>
                <tab>
                    <tab-heading class="panel-success">
                        <i class="glyphicon glyphicon-list"></i> Roster
                    </tab-heading>
                    <div ng-include="'partials/roster.html'"></div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-calendar"></i> Schedule
                    </tab-heading>
                    <div ng-include="'partials/schedule.html'"></div>
                </tab>
            </tabset>
        </div>
    </div>
</div>