<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Upcoming Events</div>
    <div class="panel-body" data-ng-controller="UpcomingEventController">
        <span class ="list-group" ng-repeat="event in upcomingEvents">
            <div class="list-group-item">
                <h6 class="list-group-item-heading"> {{toDate(event.date) | date : 'EEE MMM dd h:mm a'}}</h6>
                <p class="list-group-item-text">{{event.title}}</p>
            </div>
        </span>
    </div>
</div>
